.list-cont{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:end;
    
    margin-left: 10px;
    padding: 0%;
    margin-top: 20px;
    

    & .Health-cont{
        width:auto;
    }
    
}

.weatherpage-cont{
    display: flex;
    flex-direction: row;
    
    
}


.days-cont{
    /* column-count: 5;
    gap: 100px;
    border: 5px solid red;
    column-rule: 1px solid lightblue;
    padding: 30px; */

    display: flex;
    flex-direction: column;

    /* border: 1px solid red; */
    padding: 30px;
    justify-content: space-evenly;
}
.days-columns-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    justify-content: center;
    background-color:#5cbdbb ;
    max-width: 400px;

    & h4{
        margin: 3px;
    }
}

.days-columns-container-full{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    & button{
        max-height: 20%;
        background: none;
        border: none;
        background-color:#5cbdbb;
        size: 30px;
    }
}

.forecast-cont{
    /* border: 2px solid red; */
    width:100%;
    padding: 32px;
    /* margin-left: 20px; */
    /* margin-top: 20px; */
    /* margin-right: 10%; */
    
}


.input-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px;


    &button{
        background: none;
        height: 10%;
        margin-top: 30px;
        border: none;
    }
}


.search-container{
    box-sizing: border-box;
    background: #fff;
    height: 30px;
    border-radius: 30px;
    /* padding: 10px 20px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* cursor:pointer; */
    /* transition: 0.8s; */
    flex-wrap: nowrap;
    gap: 8px;
    
    padding: 8px 16px;
    /* margin-top: 30px;
    margin-left: 30px; */
    width: 100%;
    max-width: 400px;
    /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);

    & h4{
        text-wrap: nowrap;
    }
}

/* .search-container:hover > .search-input{
    width: 400%;
} */

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    /* transition: 0.8s; */
    margin: 0;
    padding: 0;
    min-width: 100px;
    &:focus{
        
    }

}

.search-container .search-btn .fas{
    color: #5cbdbb;
    
    
}
.search-btn{
    border: none;
    background: none;
}

/* @keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
  animation: hoverShake 0.0s linear 3;
  
} */