
.weatherHealth-cont{
    display: flex;
    flex-direction: row;
    height: 30%;
    /* width: 100%; */
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    gap: 32px;
    padding: 0px 32px;
    
}

.currentWeather{
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 30px;
    flex-wrap: wrap;
}


.info-cont{
    background-color: #E5EEEB;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 30px;
}

.healthCont{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 70%;
    padding: 30px;
    margin-left: 30%;
    flex-wrap: wrap;
    
    & h2{
        margin: 0;
    }

}

.components-cont{
    display: flex;
    flex-direction: row;
    background-color: #E5EEEB;
    padding: 30px;
    gap: 10px;
    max-width: 80%;


    & h4{
        display: flex;
        flex-direction: column;

        & span{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}

.current-cont{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 30px;
    margin-left: 30px;
    background-color: #4BCCDE;
    margin-top: 30px;
    padding: 30px;
}