.sitemap{
    display: flex;
    background-color: #4BCCDE;
    align-items: center;
   flex-direction: column;
    margin-top: 30px;
    
    padding: 32px;
   width: 100%;
    position: relative;
    bottom: 0;
    flex: 0;
}